* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.client-section {
	background: url(bg.jpg);
	background-size: cover;
	padding: 60px 0;
}

.inner-width {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}

.client-title {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
}

.border {
	width: 160px;
	height: 2px;
	background: darkslategray;
	margin: 40px auto;
}
.client-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.client-box {
	max-width: 25%;
	padding: 10px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.client-container .box {
	width: 33.33%;
	float: left;
	padding: 15px;
	background-color: #111111;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23461807' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FD5618'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.client-container .box .inner {
	padding: 30px;
	text-align: center;
	position: relative;
}

.client-container .box .inner::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	width: 0;
	height: 0;
	box-sizing: border-box;
	transition: all 0.8s ease;
}

.client-container .box:hover .inner::before,
.client-container .box:hover .inner::after {
	border-color: red;
	width: 100%;
	height: 100%;
}

.client-container .box .inner::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	border-right: 3px solid transparent;
	border-top: 3px solid transparent;
	width: 0;
	height: 0;
	box-sizing: border-box;
	transition: all 0.8s ease;
}

.client-container .box .inner h2 {
	color: white;
	margin: 10px 0;
}

.client-container .box .inner p {
	font-size: 14px;
	color: whitesmoke;
	line-height: 24px;
}

@media (max-width: 767px) {
	.client-container .box {
		width: 100%;
	}
}
