* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.client-section {
	background: url(bg.jpg);
	background-size: cover;
	padding: 60px 0;
}

.inner-width {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}

.client-title {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
}

.border {
	width: 300px;
	height: 2px;
	background: whitesmoke;
	margin: 40px auto;
}
.card_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.client-box {
	max-width: 25%;
	padding: 10px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
