@import url('../font/Poppins.css');
@import url('../font/Readex.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

body {
	display: flex;
	flex-direction: column;
}

nav {
	height: 80px;
	background: #111;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 40px 0px 40px;
}
nav .logo {
	font-size: 33px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
nav .menu-btn img {
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
}

nav ul {
	display: flex;
	list-style: none;
}

#click {
	display: none;
}

.mainContainer_common {
	min-height: calc(100vh - 80px);
	max-height: fit-content;
	background-color: #111;
}

footer {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

footer .container .sec.aboutus {
	width: 40%;
}

.quickLinks {
	position: relative;
	width: 25%;
}

footer .container .sec.aboutus h2,
footer .container .sec.contact h2,
footer .container .sec.quickLinks h2 {
	color: #fff;
	position: relative;
	font-weight: 500;
	margin-bottom: 15px;
}

footer .container .sec.aboutus h2:before,
footer .container .sec.contact h2:before,
footer .container .sec.quickLinks h2:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #fd5618;
}

footer .container .sec.aboutus p {
	color: #999;
}

.quickLinks ul li {
	list-style: none;
}

.card_container .box {
	width: 33.33%;
	float: left;
	padding: 15px;
	background-color: #111111;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23461807' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FD5618'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.card_container .box .inner {
	padding: 30px;
	text-align: center;
	position: relative;
}

nav ul li {
	margin-top: 0px 5px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 8px 12px;
	margin: 10px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.active {
	color: #fff;
	background: #fd5618;
}

nav ul li a:hover {
	background: #ff7b4bb7;
}

.card_container .box .inner::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	width: 0;
	height: 0;
	box-sizing: border-box;
	transition: all 0.8s ease;
}

.card_container .box:hover .inner::before,
.card_container .box:hover .inner::after {
	border-color: red;
	width: 100%;
	height: 100%;
}

.quickLinks ul li a {
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}

.quickLinks ul li a:hover {
	color: #fff;
}

.contact {
	width: calc(35% - 60px);
	margin-right: 0 !important;
}

.contact .info {
	position: relative;
}

.contact .info li {
	display: flex;
	margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}

.contact .info li span {
	color: #999;
}

.contact .info li a {
	color: #999;
	text-decoration: none;
}

.copyrightText {
	width: 100%;
	height: 50px;
	background: #181818;
	color: #999;
	padding: 0px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_container ::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	border-right: 3px solid transparent;
	border-top: 3px solid transparent;
	width: 0;
	height: 0;
	box-sizing: border-box;
	transition: all 0.8s ease;
}

.card_container .box .inner h2 {
	color: white;
	margin: 10px 0;
}

.card_container .box .inner p {
	font-size: 14px;
	color: whitesmoke;
	line-height: 24px;
}

.copyrightText p {
	margin: 0;
}

.copyrightText a {
	color: #fd5618;
	text-decoration: none;
}

.map-parent-dv {
	width: calc((100% - 200) / 3) px;
	height: 300px;
	border: 1px solid #fff;
}

.map-parent-dv #googleMap_Iframe {
	width: 100%;
	height: 100%;
}
