@media (max-width: 1150px) {
	nav .logo {
		font-size: 16px;
	}

	nav ul li a {
		font-size: 14px;
	}
}

@media (max-width: 940px) {
	nav .logo {
		font-size: 20px;
	}

	nav .menu-btn img {
		display: block;
		content: url('../assets/icons/hamburgerIcon60.png');
	}

	#click:checked ~ .menu-btn img {
		content: url('../assets/icons/closeIcon60.png');
	}

	#click:checked ~ ul {
		left: 0%;
	}

	nav ul {
		position: fixed;
		top: 80px;
		left: -100%;
		background: #111;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.3s ease;
	}
	nav ul li {
		margin: 40px 0;
	}

	nav ul li a {
		font-size: 20px;
	}
	nav ul li a:hover,
	nav ul li a:active {
		color: cyan;
		background: none;
	}

	.aboutUs_mainContainer {
		flex-direction: column-reverse;
	}

	.aboutUs_image {
		margin-top: 20px;
	}

	.aboutUs_image img {
		height: 100%;
	}

	.client-title {
		font-size: 25px;
	}

	.vm-title {
		font-size: 25px;
	}

	.card_container .box {
		width: 100%;
	}

	.section-title {
		font-size: 25px;
	}
}

@media (max-width: 990px) {
	footer {
		padding: 40px;
	}

	footer .container {
		flex-direction: row;
	}

	footer .container .sec {
		margin-right: 0;
		margin-bottom: 40px;
	}

	footer .container .sec.quickLinks,
	footer .container .sec.contact,
	footer .container .sec.aboutus {
		width: 100%;
	}

	.copyrightText {
		height: fit-content;
		padding: 8px 25px;
	}

	.aboutUs_mainContainer {
		flex-direction: column-reverse;
	}

	.aboutUs_image {
		margin-top: 20px;
	}

	.aboutUs_image img {
		height: 100%;
	}

	.client-title {
		font-size: 25px;
	}

	.vm-title {
		font-size: 25px;
	}

	.card_container .box {
		width: 100%;
	}

	.section-title {
		font-size: 25px;
	}
}

@media (max-width: 1024px) {
	.carousel_button {
		display: none;
	}

	.carousel {
		height: 450px;
		width: 90%;
	}
}

@media (max-width: 768px) {
	.carousel_button {
		display: none;
	}

	.carousel {
		height: 350px;
		width: 90%;
	}
}

@media (max-width: 375px) {
	.carousel_button {
		display: none;
	}

	.carousel {
		height: 230px;
		width: 90%;
	}
}
