<html>
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <link rel="stylesheet" href="../css/common.css"></link>
        <link rel="stylesheet" href="../css/about.css"></link>
        <link rel="stylesheet" href="../css/media.css"></link>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <Body>
        <!-- Navbar Element -->
        <nav>
            <div class="logo">JUPITER STAMPINGS</div>
            <input type="checkbox" id="click"></input>
            <label for="click" class="menu-btn">
                <img alt="Navbar Icon">
            </label>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a class="active" href="#">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="vision.html">Vision & Mission</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div class="aboutUs_mainContainer mainContainer_common">
            <div class="aboutUs_content mainContainer_child">
                <h1>About Us</h1>
                
                <p>We, <strong>Jupiter Stampings</strong> are a <strong>Jaipur</strong> based firm and have been in the business of transformer core manufacturing since in last 13 years. Our Founder Mr. Arun Gupta has been in the CRGO line from the Year 1980 and is one of the pioneer of CRGO manufacturing in Rajasthan. We are <strong>ISO 9001::2008</strong> Certified and amongst the first few manufactures to be granted the COC certificate in Rajasthan for manufacturing of transformer lamination by the BIS department as per IS 649:1997. Over the period of time we have increased our clientele and now are supplying transforming laminations to various reputed transformer manufactures across India.</p>
            </div>
            <div class="aboutUs_image mainContainer_child">
                <img src="../assets/media/Jupiter/Overhead Cranes.png" alt="">
            </div>
        </div>

        <!-- Footer Element -->
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>
                        Jupiter Stampings, Strives to inculcate the spirit of
                        excellence and innovation in the field of lamination
                        stamping. Building the competency, character and we
                        proudly boast of our 13 years of robust experience in
                        lamination stamping manufacturing.
                    </p>
                    <ul class="sci">
                        <li>
                            <a href="#"><img src="../assets/icons/facebook-icon60.png" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/twitter-icon60.png" alt="Twitter"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/instagram-icon60.png" alt="Instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/whatsapp-icon60.png" alt="Whats App"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/youtube-icon60.png" alt="Youtube"></a>
                        </li>
                    </ul>
                </div>

                <div class="sec quickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="sec contact">
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span
                                >C-124 & C-124(1), Road no. 9,<br />Vishwa Karma
                                Industrial Area,<br />Jaipur, Rajasthan
                                302013</span>
                                

                        </li>
                        <li>
                            <span><i class="fas fa-phone"></i></span>
                            <p>
                                <a href="tel:9166838958">+91-9166838958</a
                                ><br /><a href="tel:919829060071"
                                    >+91-9829060071</a
                                >
                            </p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p>
                                <a href="mailto:jupiterstampings@gmail.com"
                                    >jupiterstamping@gmail.com</a
                                >
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- Copyright Element -->
        <div class="copyrightText">
            <p>
                Copyright © 2020 Jupiter Stamping. All Right Reserved. Designed
                By <a href="https://arttwis.github.io">Twinkle Goyal</a> &
                <a href="https://arttwis.github.io">Gaurav Sharma</a>
            </p>
        </div>
    </Body>
</html>