<html>
    <head>
        <meta charset="utf-8">
        <title>About Clients</title>
        <link rel="stylesheet" href="../css/common.css"></link>
        <link rel="stylesheet" href="../css/client.css"></link>
        <link rel="stylesheet" href="../css/media.css"></link>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <Body>
        <!-- Navbar Element -->
        <nav>
            <div class="logo">Jupiter Stamping</div>
            <input type="checkbox" id="click"></input>
            <label for="click" class="menu-btn">
                <img alt="Navbar Icon">
            </label>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="vision.html">Vision & Mission</a></li>
                <li><a class="active" href="#">Clients</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div class="mainContainer_common">
            <div class="client-section">
                <div class="inner-width">
                    <h1 class="client-title">Our Clients</h1>
                    <div class="border"></div>
                    <div class="card_container">
                        <div class="box">
                            <div class="inner">
                                <h2>Lakshmi Transformers</h2>
                                <p>
                                    We are manufacturers and exporters of Power and Distribution Transformers and EPC Contractors for electrification contracts which include Rural/Urban Electrification, Building Substations upto 220kv, Feeder Separation, Underground Cabling and Line Augmentation.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>Danish Private Limited</h2>
                                <p>
                                    At Danish, we believe in building a legacy by looking at the future. We continue to foster an organization that retains the skills and expertise that our customers and industry expect and plan to meet the emerging challenges.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>Indian Transformers</h2>
                                <p>
                                    Indian Transformers and Electricals PVt. Ltd. Gurgaon (ITE - Gurgaon) is a part of group of industrial companies having diversified interest in the fields of textiles, shoe components and import- export.
                                </p>
                            </div>
                        </div>  
                        <div class="box">
                            <div class="inner">
                                <h2>JDS Group</h2>
                                <p>
                                    JDS Transformer Ind. P. Ltd., established in the year 1999, are among the prominent manufacturers, wholesaler exporter of high quality Power Distribution
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>Uttam</h2>
                                <p>
                                    From a humble beginning in 1983, UTTAM has come a long way with its state of art manufacturing units spread over an area of 21000 sq meters and constructed area of around 60,000 sq ft with over 200 workers and employees.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>Vardhman</h2>
                                <p>
                                    Vardhman Electromech Pvt Ltd. is one of the leading quality manufacturer of Oil Cooled and Dry Type Transformers based at Jaipur (Rajasthan) India.
                                </p>
                            </div>
                        </div>                              
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Element -->
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>
                        Jupiter Stamping, Strives to inculcate the spirit of
                        excellence and innovation in the field of lamination
                        stamping. Building the competency, character and we
                        proudly boast of our 30 years of robust experience in
                        lamination stamping manufacturing.
                    </p>
                    <ul class="sci">
                        <li>
                            <a href="#"><img src="../assets/icons/facebook-icon60.png" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/twitter-icon60.png" alt="Twitter"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/instagram-icon60.png" alt="Instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/whatsapp-icon60.png" alt="Whats App"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/youtube-icon60.png" alt="Youtube"></a>
                        </li>
                    </ul>
                </div>

                <div class="sec quickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="sec contact">
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span
                                >B 132, 1, A Road, No-6,<br />Vishwa Karma
                                Industrial Area,<br />Jaipur, Rajasthan
                                302013</span
                            >
                        </li>
                        <li>
                            <span><i class="fas fa-phone"></i></span>
                            <p>
                                <a href="tel:919928936003">+91-9928936003</a
                                ><br /><a href="tel:919829060071"
                                    >+91-9829060071</a
                                >
                            </p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p>
                                <a href="mailto:jupiterst08@yahoo.com"
                                    >jupiterst08@yahoo.com</a
                                >
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- Copyright Element -->
        <div class="copyrightText">
            <p>
                Copyright © 2020 Jupiter Stamping. All Right Reserved. Designed
                By <a href="https://arttwis.github.io">Twinkle Goyal</a> &
                <a href="https://arttwis.github.io">Gaurav Sharma</a>
            </p>
        </div>
    </Body>
</html>