<html>
    <head>
        <meta charset="utf-8">
        <title>About Clients</title>
        <link rel="stylesheet" href="../css/common.css"></link>
        <link rel="stylesheet" href="../css/client.css"></link>
        <link rel="stylesheet" href="../css/media.css"></link>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <Body>
        <!-- Navbar Element -->
        <nav>
            <div class="logo">JUPITER STAMPINGS</div>
            <input type="checkbox" id="click"></input>
            <label for="click" class="menu-btn">
                <img alt="Navbar Icon">
            </label>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="vision.html">Vision & Mission</a></li>
                <li><a class="active" href="#">Clients</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div class="mainContainer_common">
            <p class="client-title">Our Clients</p>
            <p class="client-summary">"We supply to various reputed transformer manufacturers across India. Many of our clients have been associated with us for more than 30 years. We are known in the industry for our quality and timely delivery and strive for the complete satisfaction of our clients.  Our products are being used by transformer manufacturers for supply of various electricity boards, private sectors and turnkey projects as well as export orders"</p>
        </div>

        <!-- Footer Element -->
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>
                        Jupiter Stampings, Strives to inculcate the spirit of
                        excellence and innovation in the field of lamination
                        stamping. Building the competency, character and we
                        proudly boast of our 13 years of robust experience in
                        lamination stamping manufacturing.
                    </p>
                    <ul class="sci">
                        <li>
                            <a href="#"><img src="assets/icons/facebook-icon60.png" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/icons/twitter-icon60.png" alt="Twitter"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/icons/instagram-icon60.png" alt="Instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/icons/whatsapp-icon60.png" alt="Whats App"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/icons/youtube-icon60.png" alt="Youtube"></a>
                        </li>
                    </ul>
                </div>
                
                <div class="sec contact">
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span
                                >C-124 & C-124(1), Road no. 9,<br />Vishwa Karma
                                Industrial Area,<br />Jaipur, Rajasthan
                                302013</span>
                                

                        </li>
                        <li>
                            <span><i class="fas fa-phone"></i></span>
                            <p>
                                <a href="tel:9166838958">+91-9166838958</a
                                ><br /><a href="tel:919829060071"
                                    >+91-9829060071</a
                                >
                            </p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p>
                                <a href="mailto:jupiterstampings@gmail.com"
                                    >jupiterstamping@gmail.com</a
                                >
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="sec quickLinks">
                    <h2>Reach Us</h2>
                    <!-- <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul> -->
                    <div class="map-parent-dv">
                        <iframe id="googleMap_Iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3555.4988295413877!2d75.7793657149505!3d26.982765883097482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db240ef969bfb%3A0xac653470dddf4a78!2sJupiter%20Stampings!5e0!3m2!1sen!2sin!4v1641264883765!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Copyright Element -->
        <div class="copyrightText">
            <p>
                Copyright © 2020 Jupiter Stamping. All Right Reserved. Designed
                By <a href="https://arttwis.github.io">Twinkle Goyal</a> &
                <a href="https://arttwis.github.io">Gaurav Sharma</a>
            </p>
        </div>

         <!-- Linking scripts files -->
         <script>
            document.querySelector('.logo').addEventListener('click', function () {
                window.location.href = `../index.html`;
            });
        </script>
    </Body>
</html>