<html>
    <head>
        <meta charset="utf-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="../css/common.css"></link>
        <link rel="stylesheet" href="../css/contact.css"></link>
        <link rel="stylesheet" href="../css/media.css"></link>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <Body>
        <!-- Navbar Element -->
        <nav>
            <div class="logo">Jupiter Stamping</div>
            <input type="checkbox" id="click"></input>
            <label for="click" class="menu-btn">
                <img alt="Navbar Icon">
            </label>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="vision.html">Vision & Mission</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a class="active" href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="mainContainer">

            <div class="contact-section">
                <h1>Contact Us</h1>
                <div class="border"></div>
                    <form class="contact-form" action="javascript:sendMail()" method="post">
                        <input type="text" class="contact-form-text" name="Name" id="Name" placeholder="Enter your Name">
                        <input type="Email" class="contact-form-text" name="Sender" id="Sender" placeholder="Enter your email">
                        <input type="text" class="contact-form-text" name="Mobile" id="Mobile" placeholder="Contact Number">
                        <textarea  class="contact-form-text" name="Message" id="Message" placeholder="your Message"></textarea>
                        <input type="submit" class="contact-form-btn" value="Send">
                    </form>


            </div>

        </div>

        <!-- Footer Element -->
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>
                        Jupiter Stamping, Strives to inculcate the spirit of
                        excellence and innovation in the field of lamination
                        stamping. Building the competency, character and we
                        proudly boast of our 30 years of robust experience in
                        lamination stamping manufacturing.
                    </p>
                    <ul class="sci">
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="sec quickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="sec contact">
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span
                                >B 132, 1, A Road, No-6,<br />Vishwa Karma
                                Industrial Area,<br />Jaipur, Rajasthan
                                302013</span
                            >
                        </li>
                        <li>
                            <span><i class="fas fa-phone"></i></span>
                            <p>
                                <a href="tel:919928936003">+91-9928936003</a
                                ><br /><a href="tel:919829060071"
                                    >+91-9829060071</a
                                >
                            </p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p>
                                <a href="mailto:jupiterst08@yahoo.com"
                                    >jupiterst08@yahoo.com</a
                                >
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- Copyright Element -->
        <div class="copyrightText">
            <p>
                Copyright © 2020 Jupiter Stamping. All Right Reserved. Designed
                By <a href="https://arttwis.github.io">Twinkle Goyal</a> &
                <a href="https://arttwis.github.io">Gaurav Sharma</a>
            </p>
        </div>
    </Body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
 
    <script>

        function sendMail()
        {
            var name = $('#Name').val();
            var sender = $('#Sender').val();
            var mobile = $('#Mobile').val();
            var message = $('#Message').val();

            var Body = 'Name: '+name+'<br> Sender: '+sender+'<br> Mobile: '+mobile+'<br> Message: '+ message;

        }


        Email.send({
        Host : "smtp.gmail.com",
        Username : "gaurav1910kl@gmail.com",
        Password : "",
        To : 'iamgauravsharma1910@gmail.com',
        From : 'sender',
        Subject : "New Mail on website from: " +name,
        Body : Body
        }).then(
        message => {

            if(message=='OK')
            {
                alert("Thank you Your Email has been Send. Thanks for connecting")
            }
                else
                {
                    console.error(message);
                    alert('error in sending message.')
                }
        }
        );
    </script>

</html>