<html>

<head>
    <meta charset="utf-8">
    <title>Services</title>
    <link rel="stylesheet" href="../css/common.css">
    </link>
    <link rel="stylesheet" href="../css/services.css">
    </link>
    <link rel="stylesheet" href="../css/media.css">
    </link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<Body>
    <!-- Navbar Element -->
    <nav>
        <div class="logo">JUPITER STAMPINGS</div>
        <input type="checkbox" id="click"></input>
        <label for="click" class="menu-btn">
            <img alt="Navbar Icon">
        </label>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a class="active" href="#">Services</a></li>
            <li><a href="vision.html">Vision & Mission</a></li>
            <li><a href="clients.html">Clients</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <!--main Content-->
    <div class="mainContainer_common">
        <div class="service-section">
            <div class="inner-width">
                <h1 class="section-title">Our Products</h1>
                <p class="section-summary">All Our Products are manufactures as per international standards and
                    Specifications given by the customer. We offer a selection of dimensions, types of covering and
                    materials for special fields of application. We use latest technology to manufacture our products.
                </p>
                <div class="border"></div>
                <div class="card_container">
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter/motherCoil.png" alt="" />
                            <h2>CRGO Mother Coils</h2>
                            <p>
                                Prime CRGO mother coils of thickness 0.23mm, 0.27,mm from all major mills and in all
                                major grades are used as raw material and also supplied to other manufacturers.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter/slit1.png" alt="" />
                            <h2>CRGO Slit Coils</h2>
                            <p>
                                Slitting process is the origin where quality standard starts and thus special care is
                                taken. Slitting is done through modern slitting line in required widths maintaining high
                                accuracy and minimum tolerances.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter-Compress/Core Assembly.jpg" alt="" />
                            <h2>Core Assembly</h2>
                            <p>
                                CRGO lamination is assembled for distribution and power Transformers upto 20 MVA (20000
                                Kva) by trained professionals with no load losses tested and appropriately packed and
                                ready for insertion of LV and HV coils. A pre-measuring of the CRGO core losses
                                guarantees the required no-load losses of Transformers.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter/lamination.png" alt="" />
                            <h2>CRGO Lamination</h2>
                            <p>
                                We have the facility to cut lamination in various shapes from the entire range of CRGO
                                coils. Cutting is done in both horizontal as well as vertical step-lap using high
                                precision machines.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-section">
            <div class="inner-width">
                <h1 class="section-title">Infrastructure & Machinery</h1>
                <p class="section-summary">Our manufacturing unit with 30,000 sq. ft. shed and well matched office space
                    is well equipped with modern day Infrastructure to cate the needs of our clients. Cutting is done
                    through Automatic Cut to Length machines so as to maintain best quality.</p>
                <div class="border"></div>
                <div class="card_container">
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter-Compress/EOT CRANES.jpg" alt="" />
                            <h2>EOT Cranes</h2>
                            <p>
                                3 modern EOT cranes with capacity 3 Tonnes and one with capacity 10 Tonnes for smooth
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter-Compress/CTL 300.png" alt="" />
                            <h2>CTL - 300mm</h2>
                            <p>
                                Automatic Cut to length machines for cutting of lamination upto 300 mm widths in
                                horizontal and vertical step lap designs
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter-Compress/CTL 200.png" alt="" />
                            <h2>CTL - 200 mm</h2>
                            <p>
                                Automatic Cut to length machines for cutting of lamination upto 200 mm widths in
                                horizontal and vertical step lap designs
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img class="productImage" src="../assets/media/Jupiter/CTL 500.png" alt="" />
                            <h2>CTL - 500 mm</h2>
                            <p>
                                Automatic Cut to length machines for cutting of lamination upto 200 mm widths in
                                horizontal and vertical step lap designs with hole punches if required
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Element -->
    <footer>
        <div class="container">
            <div class="sec aboutus">
                <h2>About Us</h2>
                <p>
                    Jupiter Stampings, Strives to inculcate the spirit of
                    excellence and innovation in the field of lamination
                    stamping. Building the competency, character and we
                    proudly boast of our 13 years of robust experience in
                    lamination stamping manufacturing.
                </p>
            </div>

            <div class="sec contact">
                <h2>Contact Us</h2>
                <ul class="info">
                    <li>
                        <span><i class="fas fa-map-marker-alt"></i></span>
                        <span>C-124 & C-124(1), Road no. 9,<br />Vishwa Karma
                            Industrial Area,<br />Jaipur, Rajasthan
                            302013</span>


                    </li>
                    <li>
                        <span><i class="fas fa-phone"></i></span>
                        <p>
                            <a href="tel:9166838958">+91-9166838958</a><br /><a
                                href="tel:919829060071">+91-9829060071</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fas fa-envelope"></i></span>
                        <p>
                            <a href="mailto:jupiterstampings@gmail.com">jupiterstamping@gmail.com</a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="sec quickLinks">
                <h2>Reach Us</h2>
                <div class="map-parent-dv">
                    <iframe id="googleMap_Iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3555.3603760256005!2d75.77577581547217!3d26.98714766337754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db31b6566013b%3A0xaae0ead932009a94!2s124%2C%20JUPITER%20STAMPINGS%2C%20C-124%20%26%20C%2C%201%2C%20Rd%20Number%209%2C%20Vishwakarma%20Industrial%20Area%2C%20Jaipur%2C%20Rajasthan%20302013!5e0!3m2!1sen!2sin!4v1642551206820!5m2!1sen!2sin"
                        height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Element -->
    <div class="copyrightText">
        <p>
            Copyright © 2020 Jupiter Stamping. All Right Reserved. Designed
            By <a href="https://arttwis.github.io">Twinkle Goyal</a> &
            <a href="https://gaurav-1910.github.io/my-portfolio/">Gaurav Sharma</a>
        </p>
    </div>

    <!-- Linking scripts files -->
    <script>
        document.querySelector('.logo').addEventListener('click', function () {
            window.location.href = `../index.html`;
        });
    </script>
</Body>

</html>