<html>
    <head>
        <meta charset="utf-8">
        <title>Services</title>
        <link rel="stylesheet" href="../css/common.css"></link>
        <link rel="stylesheet" href="../css/services.css"></link>
        <link rel="stylesheet" href="../css/media.css"></link>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <Body>
        <!-- Navbar Element -->
        <nav>
            <div class="logo">Jupiter Stamping</div>
            <input type="checkbox" id="click"></input>
            <label for="click" class="menu-btn">
                <img alt="Navbar Icon">
            </label>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a class="active" href="#">Services</a></li>
                <li><a href="vision.html">Vision & Mission</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <!--main Content-->
        <div class="mainContainer_common">
            <div class="service-section">
                <div class="inner-width">
                    <h1 class="section-title">Our Products</h1>
                    <p class="section-summary">All Our Products are manufactures as per international standards and Specifications given by the customer. We offer a selection of dimensions, types of covering and materials for special fields of application. We use latest technology to manufacture our products.</p>
                    <div class="border"></div>
                    <div class="card_container">
                        <div class="box">
                            <div class="inner">
                                <h2>CRGO Mother Coils</h2>
                                <p>
                                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>CRGO Slit Coils</h2>
                                <p>
                                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>Core Assembly</h2>
                                <p>
                                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>CRGO Lamination</h2>
                                <p>
                                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="machine-infra">
                <h1 class="section-title">Infrastructure & Machinery</h1>
                <p class="section-summary">Our manufacturing unit with 30,000 sq. ft. shed and wellmatched office space is well equipped with modern day Infrastructure to cate the needs of our clients. Cutting is done through Automatic Cut to Length machines so as to maintain best quality.</p>
                <div class="border"></div>    
                <div class="card_container">
                    <div class="box">
                        <div class="inner">
                            <h2>CTL - 500 mm</h2>
                            <p>
                                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <h2>EOT Cranes</h2>
                            <p>
                                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <h2>CTL - 300mm</h2>
                            <p>
                                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <h2>CTL - 200 mm</h2>
                            <p>
                                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Element -->
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>
                        Jupiter Stamping, Strives to inculcate the spirit of
                        excellence and innovation in the field of lamination
                        stamping. Building the competency, character and we
                        proudly boast of our 30 years of robust experience in
                        lamination stamping manufacturing.
                    </p>
                    <ul class="sci">
                        <li>
                            <a href="#"><img src="../assets/icons/facebook-icon60.png" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/twitter-icon60.png" alt="Twitter"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/instagram-icon60.png" alt="Instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/whatsapp-icon60.png" alt="Whats App"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/icons/youtube-icon60.png" alt="Youtube"></a>
                        </li>
                    </ul>
                </div>

                <div class="sec quickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="sec contact">
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span
                                >B 132, 1, A Road, No-6,<br />Vishwa Karma
                                Industrial Area,<br />Jaipur, Rajasthan
                                302013</span
                            >
                        </li>
                        <li>
                            <span><i class="fas fa-phone"></i></span>
                            <p>
                                <a href="tel:919928936003">+91-9928936003</a
                                ><br /><a href="tel:919829060071"
                                    >+91-9829060071</a
                                >
                            </p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p>
                                <a href="mailto:jupiterst08@yahoo.com"
                                    >jupiterst08@yahoo.com</a
                                >
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- Copyright Element -->
        <div class="copyrightText">
            <p>
                Copyright © 2020 Jupiter Stamping. All Right Reserved. Designed
                By <a href="https://arttwis.github.io">Twinkle Goyal</a> &
                <a href="https://arttwis.github.io">Gaurav Sharma</a>
            </p>
        </div>
    </Body>
</html>