<html>
    <head>
        <meta charset="utf-8">
        <title>Vision & Mission</title>
        <link rel="stylesheet" href="../css/common.css"></link>
        <link rel="stylesheet" href="../css/vision.css"></link>
        <link rel="stylesheet" href="../css/media.css"></link>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <Body>
        <!-- Navbar Element -->
        <nav>
            <div class="logo">JUPITER STAMPINGS</div>
            <input type="checkbox" id="click"></input>
            <label for="click" class="menu-btn">
                <img alt="Navbar Icon">
            </label>
            <ul>
               <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a class="active" href="vision.html">Vision & Mission</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div class="mainContainer_common">
            <div class="vm-section">
                <div class="inner-width">
                    <h1 class="vm-title">Our Mission & Vision</h1>
                    <div class="border"></div>
                    <div class="card_container">
                        <div class="box">
                            <div class="inner">
                                <h2>Mission</h2>
                                <p>
                                    Prioritizing quality products through optimum resources utilization at minimal cost and providing our customers wwith most prompt and apt solutions.<br><br>
                                    Quality Means Doing It Right When No One Is Looking” At Visat Stamping, we have a team of QA which ensures the best products are delivered to prospective as well as current customers.<br><br>
                                    We use high-graded materials which are procured from the trusted vendors in the market. Our Team ensures the defect-free products to be supplied to our valued client by checking the quality parameters.<br><br>
                                    Quality is not just Measurement but a way of life, Based on Modernized Machinery, Top Notch Infrastructure, and Technical Expertise, we Emphasize Quality along with quality.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="inner">
                                <h2>Vision</h2>
                                <p>
                                    Our Vision is to become a global player and set benchmarks in the field of quality,dependency nd as prompt service provider in the field of Power and Distribution transformer lamination.<br><br>
                                    To attain, maintain and perpetuate the leading position in India’s Transformer Lamination industry, through state-of-the-tech quality, time-conscious delivery and the industry’s best customer support & services.<br><br>
                                    To continually enhance the quality of materials and products through innovative R&D. To promote and propagate new concepts and emerging technologies in the field.<br><br>
                                    To adhere to transparent, ethical business practices and open communication – with the external, and the internal, customer. To develop strong and healthy relationships with them.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Element -->
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>
                        Jupiter Stampings, Strives to inculcate the spirit of
                        excellence and innovation in the field of lamination
                        stamping. Building the competency, character and we
                        proudly boast of our 13 years of robust experience in
                        lamination stamping manufacturing.
                    </p>
                </div>
                
                <div class="sec contact">
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span
                                >C-124 & C-124(1), Road no. 9,<br />Vishwa Karma
                                Industrial Area,<br />Jaipur, Rajasthan
                                302013</span>
                                

                        </li>
                        <li>
                            <span><i class="fas fa-phone"></i></span>
                            <p>
                                <a href="tel:9166838958">+91-9166838958</a
                                ><br /><a href="tel:919829060071"
                                    >+91-9829060071</a
                                >
                            </p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p>
                                <a href="mailto:jupiterstampings@gmail.com"
                                    >jupiterstamping@gmail.com</a
                                >
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="sec quickLinks">
                    <h2>Reach Us</h2>
                    <div class="map-parent-dv">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3555.3603760256005!2d75.77577581547217!3d26.98714766337754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db31b6566013b%3A0xaae0ead932009a94!2s124%2C%20JUPITER%20STAMPINGS%2C%20C-124%20%26%20C%2C%201%2C%20Rd%20Number%209%2C%20Vishwakarma%20Industrial%20Area%2C%20Jaipur%2C%20Rajasthan%20302013!5e0!3m2!1sen!2sin!4v1642551206820!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Copyright Element -->
        <div class="copyrightText">
            <p>
                Copyright © 2020 Jupiter Stamping. All Right Reserved. Designed
                By <a href="https://arttwis.github.io">Twinkle Goyal</a> &
                <a href="https://gaurav-1910.github.io/my-portfolio/">Gaurav Sharma</a>
            </p>
        </div>

         <!-- Linking scripts files -->
         <script>
            document.querySelector('.logo').addEventListener('click', function () {
                window.location.href = `../index.html`;
            });
        </script>
    </Body>
</html>